* {
    margin: 0px;
    padding: 0px;
    outline: 2px dotted rgb(255, 0, 0);
}

#wrapper {
    width: 970px;
    height: 764px;
    margin: 0 auto;
    padding: 15px;
    background-color: #245076;
    color: #ffffff;
}

header img {
    display: inline-block;
    width: 400px;
}

header div {
    display: inline-block;
    width: 565px;
    vertical-align: top;
    font-size: 14px;
}

header p {
    margin: 5px 25px;
    text-align: right;
}

header form {
    width: 250px;
    border-width: 15px 30px;
    border-style: solid; 
    border-color: #444444;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    box-sizing: border-box;
    margin-left: 310px;
}
    header form input {
        width: 130px;
        height: 25px;
        text-align: center;
        display: inline-block;
    }
    header form button {
        width: 35px;
        height: 25px;
        background-color: #245076;
        color: #d9e1e8;
        border-radius: 3px;
        border: 2px solid #aeb4b7;
        outline: 12px solid #444444;
        margin-left: 10px;
        display: inline-block;
    }

a {
    color: #c4aa00;
}

span.pipe {
    color: #0e2535;
}

nav {
    width: 850px;
    height: 50px;
    margin: 10px auto;
    background-color: #477fad;
    color: #f8fafc;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    	
}
    nav ul {
        padding: 7px 0px 0px 0px;
        margin: 0px;
    }
    nav ul li {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        margin: 0px 20px;
        vertical-align: middle
    }

main {
    margin-top: 20px;
}

main ul {
    display: inline-block;
    width: 400px;
    list-style-position: inside;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 20px 0;
    vertical-align: top;
}
    ul a {
        color: #f8fafc;
    }

    .links li::before {
        content: "•";
        padding: 10px;
        color: #ddbf40;
    }

    .quotes li {
        margin: 5px 0;
        color: #fad032;
    }

main div {
    display: inline-block;
    vertical-align: top;
    width: 560px;
    text-align: center;
}

section {
    background-color: white;
    color: black;
}
hr {
    width: 400px;
    height: 5px;
    background-color: #73a7d5;
    margin: 0 auto;
}
section div {
    display: inline-block;
    width: 450px;
    text-align: center;
}
    section div ul {
        list-style-position: inside;
        list-style-type: square;
    }
    section div ul a {
        color: #8eb8dd;
    }
