* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 970px;
    height: auto;
    margin: 0 auto;
    background-color: #245076;
    color: #ffffff;
}

header img {
    display: inline-block;
    width: 400px;
    margin-left: 15px;
}

header div {
    display: inline-block;
    width: 550px;
    vertical-align: top;
    font-size: 14px;
}

header p {
    margin: 5px 25px;
    text-align: right;
}

header div form {
    width: 260px;
    border-radius: 10px;
    box-shadow: 2px 2px black;
    box-sizing: border-box;
    margin-left: 280px;
    background-color: #444444;
    padding: 15px 30px;
}
    header form input {
        width: 150px;
        height: 25px;
        text-align: center;
        display: inline-block;
    }
    header form button {
        width: 35px;
        height: 25px;
        padding: 5px 5px;
        background-color: #245076;
        color: #d9e1e8;
        border-radius: 3px;
        display: inline-block;
        margin-left: 5px;
    }

a {
    color: #c4aa00;
}

span.pipe {
    color: #0e2535;
}

nav {
    width: 850px;
    height: 50px;
    margin: 10px auto;
    background-color: #477fad;
    color: #f8fafc;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    	
}
    nav ul {
        padding: 7px 0px 0px 0px;
        margin: 0px;
    }
    nav ul li {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        margin: 0px 20px;
        vertical-align: middle
    }

main {
    margin-top: 20px;
}

.links {
    display: inline-block;
    width: 300px;
    list-style-position: inside;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 20px 0;
    vertical-align: top;
}
    .links a {
        color: #f8fafc;
    }

    .links li {
        margin: 5px;
    }

    .links li::before {
        content: "•";
        padding: 10px;
        color: #ddbf40;
    }
    
main div {
    display: inline-block;
    vertical-align: top;
    width: 560px;
    text-align: center;
}

    main div p:first-child {
        width: 550px;
        font-size: 14px;
    }

    .quotes {
        margin: 10px;
    }
        .quotes li {
            margin: 5px 0;
            color: #fad032;
            font-size: 20px;
            list-style-type: none;
        }

    main div p:last-child {
        margin-bottom: 20px;
    }

    

section {
    width: 850px;
    background-color: white;
    color: black;
    padding: 10px 60px;
}
    
    section h1 {
        font-size: 22px;
    }
    section div ul {
        list-style-type: square;
        width: 250px;
        margin-left: 50px;
    }

    section div ul li {
        text-align: center;
    }
    section ul li span {
        color: #8eb8dd;
    }

    section hr {
        width: 380px;
        height: 2px;
        background-color: #73a7d5;
        display: inline-block;
        margin: 0px -40px;
    }
    
.gettingStarted {
    display: inline-block;
    width: 330px;
    text-align: center;
    margin: 0px 0px 0px 70px;
}

.applications {
    display: inline-block;
    width: 330px;
    text-align: center;
    margin-left: 70px
}

footer {
    color: #80b3de;
    text-align: center;
}
    footer ul {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    footer ul li {
        display: inline-block;
        margin: 0px 25px;

    }